<!DOCTYPE html>
<html lang="en" ng-app="bookStoreApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookStore</title>
  <link rel="icon" type="image/png" href="images/bookstore.jpg" />
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="container" ng-controller="ProductsController as products">
    <header class="header">
      <img src="./images/bookstore.jpg" alt="" class="icon-header">
      <input ng-model="bookSearch"  type="search" value="" 
      class="input-header" placeholder="Ingresa tu libro" id="bookSearch">
    </header>
    <section class="selector">
      <div class="movie-selector" ng-repeat="book in products.books  | filter:bookSearch">
        <img ng-src="{{book.img}}" alt="" class="area-img">
        <a href ="" class="grid-title area">{{book.titulo}}</a>
        <div class="area">
          <h4>{{book.editorial}}</h4>
          <p>{{book.descripcion}}</p>
        </div>
      </div>
    </section>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="./js/app.js"></script>
</body>
</html>